.container {
	position: relative;
}

.image {
	width: 200px;
	height: 300px;
	background: url("http://placekitten.com/200/300");
}

.high-contrast {
	font-weight: bold;
	position: absolute;
	left: 0;
	top: 0;
}

/*
.screen-reader-only {
	top: auto; 
	width: 1px; 
	height: 1px; 
	left: -10000px; 
	overflow: hidden; 
	position: absolute;
}
*/