body {
	max-width: 1024px;
	margin: 0 auto;
}

/* header */

.page-header {
	position: relative;
	border-bottom: 0;
	margin-bottom: 40px;
}

.page-header h1 {
	margin: 60px 0 0 100px;
}

.page-header img {
	position: absolute;
	top: -20px;
	left: 0;
	max-height: 80px;
	width: auto;
}

.page-header:after {
	display: table;
	content: " ";
	clear: both;
}

/* main */

.col-md-4 {
	float: none;
	display: table-cell;
	width: 33.333333%;
	padding-top: 0;
}

main ul {
	padding-left: 1em;
}

.who {
	border-left: #FF8819 5px solid;
}

.where {
	border-left: #4400FF 5px solid;
}

.what {
	border-left: #04CC16 5px solid;
}

h2 {
	margin-top: 0;
}

.list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

a {
	text-decoration: underline;
}

/* footer */

.page-footer {
	min-height: 100px;
	padding: 20px 0 0 0;
}

.page-footer ul,
.page-footer p {
	margin: 0;
	padding: 0;
}

.page-footer ul {
	float: left;
	display: table;
}

.page-footer li {
	display: table-cell;
	padding-right: 1em;
}

.page-footer p {
	float: right;
}

@media (max-width: 1024px) {
	.row {
		margin: 0;
	}
}

@media (max-width: 700px) {
	.page-header h1 small {
		display: block;
		margin-top: 10px;
	}

	.page-header img {
		top: 0;
	}

	.col-md-4 {
		display: block;
		width: 100%;
		padding: 15px;
	}
}

@media (max-width: 600px) {
	.page-header {
		margin-bottom: 20px;
	}

	.page-header h1 {
		font-size: 30px;
		margin-top: 40px;
		margin-left: 80px;
	}

	.page-header h1 small {
		font-size: 60%;
	}

	.page-header img {
		max-height: 60px;
	}

	h2 {
		font-size: 26px;
	}
}