body {
	max-width: 1024px;
	margin: 0 auto;
	font-size: 2em;
}

a {
	color: #5900FF;
}

a:focus {
	outline: 2px dashed #7F00EA;
	outline-offset: 3px;
}

a:hover, a:focus {
	text-decoration: none;
	color: #DB0000;
}

/* header */

.page-header {
	position: relative;
	border-bottom: 0;
	margin-bottom: 40px;
}

.page-header h1 {
	margin: 60px 0 0 100px;
}

.page-header img {
	position: absolute;
	top: -20px;
	left: 0;
	max-height: 80px;
	width: auto;
}

.page-header:after {
	display: table;
	content: " ";
	clear: both;
}

/* main */

main ul {
	padding-left: 1em;
}

main div {
	padding-left: 1em;
	margin-bottom: 2em;
}

.who {
	border-left: #4400FF 5px solid;
}

.where {
	border-left: #DB0000 5px solid;
}

.what {
	border-left: #6D00E1 5px solid;
}

h2 {
	margin-top: 0;
}

li {
	margin-bottom: 0.5em;
}

a {
	text-decoration: underline;
}

/* footer */

.page-footer {
	padding: 20px 0;
}

.page-footer ul,
.page-footer p {
	margin: 0;
	padding: 0;
}

.page-footer ul {
	float: left;
	display: table;
}

.page-footer li {
	display: table-cell;
	padding-right: 1em;
}

.page-footer p {
	float: right;
}