/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*== typography ==*/

body {
	font-family: 'Lusitana', Georgia, Times, serif;
	font-size: 1.2em;
	padding: 1em;
	line-height: 1.2em;
}

h1 {
	font-size: 2em;
	margin: 0.4em 0 1em 0;
	text-align: center;
}

a {
	font-weight: 800;
	color: #3bb20b;
}

a:hover, a:focus, a:hover [class^="icon-"], a:focus [class^="icon-"] {
	color: #ff4a00;
}

.gigs ul {
	margin: 0 0 1em 0;
}

.gigs li {
	border-bottom: 1px solid #666;
	padding: 0.6em 0;
}

.gigs li:last-child {
	border-bottom: 0;
}

.gigs li:first-letter {
	text-transform: lowercase;
}

/* SR text */

.visuallyhidden {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0;
}

/*== icons ==*/

.social {
	display: table;
	width: 100%;
	margin: 0 auto 1em;
	width: 60%;
}

.social ul {
	font-size: 3em;
	display: table-row;
}

.social ul li {
	display: table-cell;
	text-align: center;
	padding-top: 0.2em;
}

.social a {
	text-decoration: none;
}

.social li:hover, .social li:focus {
	font-size: 1.2em;
	padding-top: 0;
	-webkit-transition: font-size 0.2s, padding-top 0.2s, -webkit-transform 0.2s;
    transition: font-size 0.2s, padding-top 0.2s, -webkit-transform 0.2s;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?v3069v');
	src:url('fonts/icomoon.eot?#iefixv3069v') format('embedded-opentype'),
		url('fonts/icomoon.woff?v3069v') format('woff'),
		url('fonts/icomoon.ttf?v3069v') format('truetype'),
		url('fonts/icomoon.svg?v3069v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	padding: 0.2em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}

a .icon-twitter {
	color: #5a9ce1;
}

.icon-github:before {
	content: "\e601";
}

a .icon-github {
	color: #000;
}

.icon-linkedin:before {
	content: "\e602";
}

a .icon-linkedin {
	color: #3272a7;
}

/*== layout ==*/

*, *:after, *:before {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 80%;
	max-width: 700px;
	margin: 0 auto;
}

section, img {
	margin: 0 0 1em 0;
}

img {
	width: 100%;
	height: auto;
}

.social {
	clear: both;
}

@media all and (min-width: 650px) {
	img, .gigs {
		float: left;
		width: 50%;
	}

	.gigs {
		padding-left: 2em;
	}
}